body{
    background: url('./images/circles-dark.png');
    background-repeat: no-repeat;
    background-attachment: scroll;  
    /* background-position: 50% 50%; */
    background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.gem1 {
    width: 150px;
    height: 150px;
}

.gem2 {
    width: 150px;
    height: 150px;
}

.gem3 {
    width: 150px;
    height: 150px;
}

.gem4 {
    width: 150px;
    height: 150px;
}

.gems-header {
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }