body{
    background: url('./images/circles-dark.png');
    background-repeat: no-repeat;
    background-attachment: scroll;  
    background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.jumbotron{
    color: rgba(95, 69, 121, 0.815);
}

.instructions{
    background-color: rgba(126,142,150, 0.815);
}

.gems{
    background-color: rgba(95, 69, 121, 0.815);
    margin-left: 100px;
    margin-right: 100px;
}

.match{
    background-color: rgba(47, 167, 226, 0.815);
    margin-left: 100px;
    margin-right: 100px;

}
.score{
    background-color: rgba(63, 205, 255, 0.815);
    margin-left: 100px;
    margin-right: 100px;
}

.losses-header{
    background-color: rgba(166,19,0, 0.815);
    margin-left: 100px;
    margin-right: 100px;

}

.wins-header{
background-color: rgba(78,153,107, 0.815);
margin-left: 100px;
margin-right: 100px;

}

.gem1 {
    width: 150px;
    height: 150px;
}

.gem2 {
    width: 150px;
    height: 150px;
}

.gem3 {
    width: 150px;
    height: 150px;
}

.gem4 {
    width: 150px;
    height: 150px;
}

.gems-header {
    animation: blinker 3s linear infinite;
}  
@keyframes blinker {
    50% {
    opacity: 0;
    }
}